@using PleaseBuy.Areas.Identity.Data;

@model Order
@{
    ViewData["Title"] = "Home Page";
    IEnumerable<Order> allOrders = ViewData["allOrders"] as IEnumerable<Order>;
    int count = allOrders.Count();
    IEnumerable<Cart> allCarts = ViewData["allCarts"] as IEnumerable<Cart>;

    string userName = ViewData["UserName"].ToString();
}

<head>
    <link rel="stylesheet" href="~/css/OwnerOrder.css" asp-append-version="true" />
    <script src="~/js/Order.js"></script>
    <script src="~/js/OwnerOrderNew.js"></script>

</head>


<div class="home">
    <div class="add-order-container">
        <div class="add-container">
            <h1>เปิดรับฝาก</h1>
            <button type="button" onclick="openPopup()">
                <i class="s"><i class="uil uil-plus"></i></i>
            </button>
        </div>
        <div class="list-container">
            <h1>ออเดอร์ที่เปิดรับฝาก</h1>
            <div class="order-slider-container d-flex">
                <div class="pre-btn-container">
                    <i class="arrow pre-btn"></i>
                </div>
                <div class="deposit-order-slider">
                    @if (count != 0)
                    {
                        @foreach (var Order in allOrders.Where(x => x.Confirmed != true))
                        {
                            <button type="submit" class="deposit-data-container" onclick="location.href='@Url.Action("Index", "Order", new {OrderId=Order.OrderId})'">
                                <div class="deposit-data-wrapper">
                                    <div class="personal-data">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="personal-img bg-black">
                                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="user" />
                                            </div>
                                        </div>
                                        <div class="data-p pe-1 pt-1 d-flex flex-column align-items-end" @*style="color:white; background-color: var(--color-primary);"*@>
                                            <h5>@Order.Owner</h5>
                                            <p id="phoneNum">@Order.PhoneNumber</p>
                                        </div>
                                    </div>
                                    <div class="personal-detail text-start ">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p><strong>โรงอาหาร</strong>&ensp;@Order.Canteen</p>
                                            <p id="timeLimit">@Order.Time.ToShortTimeString()</p>
                                        </div>
                                        <p id="location"><strong>สถานที่นัด</strong>&ensp;@Order.Location</p>
                                    </div>

                                </div>
                            </button>
                        }
                    }
                    else
                    {
                        <div class="none-data-container">
                            <p>ยังไม่มีออเดอร์จ้าาาา</p>
                        </div>
                    }
                </div>
                <div class="nxt-btn-container">
                    <i class="arrow nxt-btn"></i>
                </div>
            </div>

        </div>
    </div>

    <div class="home-status-container">
        <div id="owner-order-container">
            <h2>สถานะการฝากซื้อ</h2>
            <div class="order-cards-container">
                @{
                    var filterOrders = allOrders.Where(order => order.Owner == userName);
                }
                @if (filterOrders != null && filterOrders.Any())
                {

                    @foreach (var order in allOrders.Where(i => i.Owner == @userName))
                    {
                        <div class="order-card border-curve-m wrap-collabsible">

                            <div class="order-card__title border-inherit">
                                <div class="order-card__title__info flex-wrap border-curve-s ">
                                    <h2>@order.Canteen</h2>
                                </div>

                                <div class="order-card__title__status border-curve-s ${handleSuccesBuyerStatus()}">
                                    <div class="status__title border-curve-s @(order.Delivery ? "status__title__success" : "")">

                                        <script>
                                            function checkBuyerStatus() {
                                                // implementation of checkBuyerStatus function
                                            }
                                        </script>
                                        @{
                                            var buyerStatus = CheckBuyerStatus(
                                            isConfirmed: order.Confirmed,
                                            isPrepared: order.Prepared,
                                            isDelivered: order.Delivery,
                                            isCanceled: order.Canceled
                                            );
                                            Dictionary<string, object> statusInfo = GetOwnerStatusInfo(buyerStatus);
                                        }
                                        <img src="@statusInfo["statusIcon"]" alt="" />
                                    </div>
                                    <div class="status__extra">
                                        <h5>@statusInfo["statusDetail"]</h5>
                                        <p>@statusInfo["extraDetail"]</p>
                                    </div>
                                </div>

                                @{
                                    bool isExpanedDetail = false;
                                }

                                <div class="order-card__title__option">
                                    <button onclick="handlerExpandCardDetail(isExpanedDetail)">
                                        @if (isExpanedDetail)
                                        {
                                            <img src="~/assets/arrow-up.png" alt="" />
                                        }
                                        else
                                        {
                                            <img src="~/assets/arrow-down.png" alt="" />
                                        }
                                    </button>
                                </div>

                            </div>

                            <div class="collapsible-content">
                                <div class="order-card__detail border-curve-m">
                                    <p>รายการที่ฝากซื้อ</p>
                                    <div class="order-items-container border-curve-m">

                                        @{
                                            foreach (var item in allCarts)
                                            {
                                                if (item.CartId == order.OrderId)
                                                {
                                                    <div class="order-item grid-wrap">
                                                        <div class="order-item__detail">
                                                            <p>@item.Menu</p>
                                                        </div>
                                                        <p>@item.Amount</p>
                                                        <p>@item.Price</p>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                    @if (order.Delivery)
                                    {
                                        <button type="button" onClick="handlerOwnerOrderSuccess(@order.Completed)"> กดเพื่อยืนยันได้รับแล้ว </button>
                                    }
                                    else
                                    {
                                        var isOwnerDeleteOrder = false;
                                        <button type="button" onClick="handlerConfirmCancelOrder()">ยกเลิกการฝาก</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="no-order-card border-curve-m" id="no-order">
                        <p>คุณยังไม่มีรายการฝากซื้อ</p>
                    </div>
                }
            </div>
        </div>
    </div>

    @* ------------------------------- ตรงนี้ ---------------------------------------------*@

    <div class="popup p-2" id="add-deposit-order-popup">
        <i class="uil uil-multiply" onclick="closePopup()"></i>
        <form method="POST" asp-controller="Home" asp-action="Create" class="h-100 p-3 d-flex flex-column justify-content-between">
            <div class="w-100 d-flex flex-column g-4">
                <h1>บลาๆๆๆๆ</h1>
                <label for="canteens">เลือกโรงอาหาร</label>
                <select asp-for="Canteen" name="Canteen" id="canteen" required>
                    <option value="">selcet canteen</option>
                    <option value="พระเทพ">พระเทพ</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
                <label for="time">เลือกระยะเวลา</label>
                <select asp-for="TimeLimit" name="TimeLimit" id="time" required>
                    <option value="">select time</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                </select>
                <label for="time">เลือกสถานที่รับ</label>
                <input type="text" asp-for="Location" name="Location" id="location" placeholder="สถานที่รับ" required />
                <input type="text" asp-for="Owner" name="Owner" value="@ViewData["Username"]" hidden />
            </div>
            <button type="submit" onclick="closePopup()">เพิ่มรายการรับฝาก</button>
        </form>
    </div>
</div>


<script>

    var popup = document.getElementById("add-deposit-order-popup");

    function openPopup() {
        popup.style.webkitTransform = "translate(-50%, 69vh)";
    }

    function closePopup() {
        popup.style.webkitTransform = "translate(-50%, -69vh)";
    }


    function handlerConfirmCancelOrder() {
        console.log("handler confirm cancel");
        if (window.confirm("คุณต้องการลบรายการฝากหรือไม่")) {

        }
    }

    function handlerOwnerOrderSuccess({ isSuccess }) {
        if (window.confirm("Hwlllllo")) {
            isCanceled = true;
        }
    }

</script>


@functions {
    Dictionary<string, object> GetOwnerStatusInfo(string buyerStatus)
    {
        Dictionary<string, object> statusInfo = new Dictionary<string, object>();

        string statusIcon;
        string statusDetail = "";
        string extraDetail = "";

        switch (buyerStatus)
        {
            case "CANCEL":
                statusIcon = Url.Content("~/assets/order.png");
                statusDetail = "ยกเลิกรับฝาก";
                extraDetail = @"
                    <p>ผู้รับฝากยกเลิกการรับฝาก</p>
                ";
                break;

            case "WAITING":
                statusIcon = Url.Content("~/assets/order.png");
                statusDetail = "รอการยืนยัน";
                extraDetail = @"
                    <p>ผู้รับฝากต้องยืนยันภายใน {{buyerConfirmTime}}</p>
                    <p>เวลา {{buyerConfirmTime}}</p>
                ";
                break;

            case "SHIPPING":
                statusIcon = Url.Content("~/assets/cart.png");
                statusDetail = "รอการจัดส่ง";
                break;

            case "SUCCESS":
                statusIcon = Url.Content("~/assets/location.png");
                statusDetail = "ถึงที่จัดส่งแล้ว";
                extraDetail = @"
                    <p>โปรดยืนยันว่าได้รับแล้วภายใน {{ }}</p>
                ";
                break;

            default:
                statusIcon = Url.Content("~/assets/order.png");
                break;
        }

        statusInfo.Add("statusIcon", statusIcon);
        statusInfo.Add("statusDetail", statusDetail);
        statusInfo.Add("extraDetail", extraDetail);

        return statusInfo;
    }


    string CheckBuyerStatus(
        bool isConfirmed = false,
        bool isPrepared = false,
        bool isDelivered = false,
        bool isCanceled = false
    )
    {
        string buyerStatus;
        if (isCanceled)
        {
            buyerStatus = "CANCEL";
        }
        else if (isConfirmed)
        {
            if (isPrepared)
            {
                if (isDelivered)
                {
                    buyerStatus = "SUCCESS";
                }
            }
            buyerStatus = "SHIPPING";
        }
        else
        {
            buyerStatus = "WAITING";
        }
        return buyerStatus;
    }
}